@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@flaticon/flaticon-uicons/css/all/all";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    scrollbar-width: none;  
    -ms-overflow-style: none; 
    font-family: var(--font-montserrat), sans-serif;
  } 

  body::-webkit-scrollbar {
    display: none;  
  }
  
  h1,h2,h3,h4,h5,h6,p{
    overflow-y:hidden;
  }
  
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
  }